FastAPI
azure-servicebus
sqlalchemy
uvicorn
python-dotenv
pydantic
asyncio
psycopg2
langchain
langgraph
openai
langchain-community

psycopg2-binary
azure.ai.documentintelligence
azure.core
langchain-community
langchain-openai
SpeechRecognition
pydub
ffmpeg-python
langsmith